VITE_API_URL=http://localhost:3000/api

**Firebase**
VITE_FIREBASE_API_KEY=AIzaSyChrNjf678GHfKOestm1oQXdikpePD9GYE
VITE_FIREBASE_AUTH_DOMAIN=bookeasy-dev-291cc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bookeasy-dev-291cc
VITE_FIREBASE_APP_ID=1:616792254432:web:0d70440dc907290858ed85
VITE_USE_ONBOARDING_V2=true
VITE_DEFAULT_PHONE_COUNTRY=US
VITE_FIREBASE_STORAGE_BUCKET=bookeasy-dev-291cc.firebasestorage.app
VITE_USE_LANDING_V2=true